* {
  box-sizing: border-box;
}

.mobile {
  display: flex;
}

.desktop {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: #c7464e;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #c7464e;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

body {
  background-color: #ffffff;
  color: #666666;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

header {
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
}

footer {
  background-color: #000000;
  color: #bbbbbb;
  padding: 1em;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 1.5em;
  color: #8ac999;
}

main {
  background-color: #white;
}

.logo {
  text-align: center;
}

img {
  width: 20%;
  max-width: 500px;
  height: auto;
  min-width: 200px;
}

nav {
  font-size: 1.2em;
  text-align: center;
  background-color: #c7464e;
}

nav a:link {
  text-decoration: none;
  color: white;
}

nav a:visited {
  color: lightgray;
}

nav a:hover {
  color: #8ac999;
}

nav ul {
  padding-left: 1em;
  list-style-type: none;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
}
nav li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  border-bottom: solid 1px;
}

.mobile {
  display: inline;
}

.desktop {
  display: none;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
  background-color: #c7464e;
  color: white;
}

.socialIconArea {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  z-index: 999;
  position: absolute;
  top: 40%;
  left: 80%;
  display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.socialicon:hover {
  font-size: larger;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #8ac999;
  z-index: 999;
}

.socialicon {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: white;
  z-index: 999;
  width: 20px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2em;
  }

  .socialIconArea {
    left: 80%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 2em;
  }

  nav li {
    width: auto;
    border-bottom: none;
  }
}

@media (min-width: 1024px) {
  header {
    /*float: left;*/
  }

  .desktop {
    display: flex;
  }

    .socialIconArea {
    left: 90%;
  }

  .mobile {
    display: none;
  }

  nav {
  }

  nav ul {
    padding-left: 10%;
    padding-right: 10%;
  }

  nav li {
    width: auto;
    border-bottom: none;
  }
}
